
header {
    background-color: rgb(36, 35, 35);
    text-align: center;
    padding: 10px;
    display: flex; /*en linea*/
    justify-content: space-between;
    align-items: center; 
    position: fixed;  /*fijo*/ 
    top: 0%; /*espacio de alto si se quita se deja un espacio*/
    width: 100%; /*Ancho*/
    margin-right: 20%; /*derecha*/
    z-index: 1000; /*autoridad*/
    
} 

header ul {
 display: flex;    
 gap: 55px;  /*separacion de links*/
 font-size: 17px; /*tamaño*/
 margin-right: 57px; /*para que no se valla a la derecha*/
}
header li { 
    list-style:none;
    font-family: 'Montserrat', sans-serif;
}
header a {
  color: rgba(255, 255, 255, 0.904);        
  text-decoration: none;
  font-weight: 700;
}

header a:hover {   /* cuando paso el raton por encima*/
  color: rgb(250, 173, 73);       
}
header img {   /*logo*/
  height: 80px;
  margin-left:10px;
}

body {
margin-top: 85px; /*alto de la imagen*/
margin-left: 0%; 
margin-right: 0%;
background-color: rgb(36, 36, 36);
}
.linea-alemania{
    height:50px;

    background: linear-gradient(
        to right,
        black 33.3%,
        #b51515 33.3% 66.6%,
        #e4af29 66.6%
    );
}
.imagen-principal {
    height: 100vh; /*alto toda la pantalla*/
    background: url("../img/fondo.png") center 80%/ cover no-repeat; 
    position: relative; /* al contenedor que esta adentro */
}
.imagen-principal div { 
  width: 40%;
  position: absolute;    /* acomodar como yo quiera*/
  top: 14%;
  left: 3%;
  font-family: 'arial', sans-serif;
  color: #000000;
  line-height: 2;
}
.imagen-principal p{
    font-family:'Inter', sans-serif;
}
.imagen-principal h1{
    font-size: 90px;
    margin-bottom: 60px;
    font-family:  'Cormorant Garamond';
    line-height: 1;
    margin-top: 0.5%;
}
.imagen-principal h2{
    font-size: 20px;
    margin-bottom: 1px;
    margin-left: 110px;
    margin-top: 1%;
    letter-spacing:4px;
    color: #bb1111;
    font-weight:550;
    font-family:'Inter', sans-serif;
}
.linea-titulo{
    width:220px;
    height:5px;

    background: linear-gradient(
        to right,
        black 33.3%,
        #b51515 33.3% 66.6%,
        #d4a017 66.6%
    );

    margin-top:115px;
    margin-bottom:30px;

    border-radius:20px;
}

.linea-titulo-arriba{
 display:block;

    width:70px !important; /*da prioridad a este width y lo hago porque no me dejaba */
    height:3px;

     background:#d4a017;

     margin-bottom:10px;
     border-radius:20px;
     transform: translateY(-25px); /* Profe esto lo utilize como ultimo recurso con ayuda de chat gpt */
}

.cards-section{
    display:flex;
}

.card{
    flex:1; /* la verdad es todo raro ese flex pero si uno lo quita pues deja espacio y el flex es para acomodar*/
    padding:40px;
    font-family:"Outfit";
    color: #ffffff;
   font-family:'Inter', sans-serif;
    font-weight:540;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
    z-index: 2;
    position: relative;
}

.card:nth-child(1){
    background:black;
      
}

.card:nth-child(2){
    background:#b51515;
}

.card:nth-child(3){
    background:#e4af29;
    color:black;
}


.card h3{   /*es para el titulo de cada div*/
    margin-bottom:15px;
    font-size:25px;
}
.amarillo2 {
    color:#ffbf1f
}
.amarillo {
    color:#ffbf1f
}
.negro {
    color:#0e0c0b
}
.negro2 {
    color:#0e0c0b
}
.card p{
    line-height:1.8;
}
.botones{
    display:flex;
    gap:20px;
    margin-top:330px;
    
}

.btn-rojo{
    background:#c01818;
    color:rgb(238, 236, 236);
    padding:8px 50px;
    text-decoration:none;
    font-weight:bold;
    display: inline-block;
    white-space: nowrap;
    border-radius:5px;
}

.btn-dorado{
    border:2px solid #d4a017;
    color:#d4a017;
    padding:8px 50px;
    text-decoration:none;
    font-weight:bold;
    white-space: nowrap;
    border-radius:5px;
}
.menu-comida{
    background:#f8edd8;
    padding:80px 10%;
}

.titulo-menu{
    text-align:center;
    font-size:55px;
    margin-bottom:50px;

    font-family:'Cormorant Garamond', serif;
    color:#422F1B;
    margin-top: 0%;
}

.menu-grid{
    display:flex;
    gap:30px;
    justify-content:center;
}

.item-menu{
    background:white;
    width:320px;

    border-radius:25px;
    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,0.08);

    transition:0.3s;
}

.item-menu:hover{
    transform:translateY(-20px);
}

.item-menu img{
    width:100%;
    height:230px;
    object-fit:cover;
}

.item-menu h3{
    font-size:28px;
    padding:20px 20px 10px;

    color:#422F1B;
}

.item-menu p{
    padding:0 20px;

    line-height:1.7;

    font-family:'Inter', sans-serif;

    color:#555;
}

.item-menu span{
    display:block;

    padding:20px;

    font-size:25px;
    font-weight:700;

    color:#b51515;
}

.footer {
background-color: rgb(36, 36, 36);
display: flex;
margin-top: 10px;
    justify-content: space-around;
    color: #f8edd8;
text-align: center;
}
.linea{
    width: 1px;
    height: 220px;
    background: rgba(100, 98, 96, 0.507);

}
.info {
    color: rgba(255, 255, 255, 0.705);
}
.contacto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgba(255, 255, 255, 0.705);
}
.info-contacto{
    display: flex;
    gap: 40px;
    text-align: right;
}
.footer a{
    color: rgba(255, 255, 255, 0.705);   
  text-decoration: none;
  font-weight: 700;
}
.terminos-- {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    
}
.Horarios{
    display:flex;
    flex-direction:column;
    gap:20px;
    color:rgba(255,255,255,0.705);
    margin-top: 40px;
    margin-right: 50px;
}


.horario-info{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.horario-info p{
    margin:0;
    font-weight:bold;
    color: rgba(255, 255, 255, 0.705);   
}

.horario-info span{
    color:rgba(255,255,255,0.705);
}
